.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: $sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 8px;
}

.left-nav > ul > li:hover {
  background-color: $lightest-gray;
}

.right-nav > ul > li {
  font-family: $sans-serif;
  font-size: .5rem;
  text-transform: uppercase;
  margin: 0 5px;
}

.right-nav > ul > li:last-of-type {

}

#gear-drop-btn {
  position: relative;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}


.right-nav i {
  width: 30px;
  font-size: 1.4rem;
}

.hidden {
  display: none;
}
