<div class="masthead">


<ul class="language-nav">
  <li><a href="/">CSS</a></li>
  <li><a href="/">HTML</a></li>
  <li><a href="/">Javascript</a></li>
  <li><a href="/">Ruby</a></li>
</ul>
<div class="app-times-div">
  <img class="app-times-logo" src="assets/AA_Times_Logo.png">
</div>

<div class="bottom-nav">
  <ul>
    <li>Tuesday, October 18, 2016</li>
    <li><a href="/"><i class="fas fa-newspaper"></i> Today’s Paper</a></li>
    <li><a href="/"><i class="fas fa-video"></i> Video</a></li>
    <li>77°F</li>
    <li>AAO +100%</li>
  </ul>
</div>


</div>
